body {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #E3BAA2;
  border: 2px solid black;
  margin: 20% 5%;
  padding: 10%;
}

.table-bordered, tr, td, tbody, th, thead, .thead, .trow {
  margin-top: 10px;
  border: 4px solid rgb(214, 208, 208);
}
